@charset "UTF-8";

div#tv-audio{
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}
audio#musica{
    display: block;
    position: relative;
    left: 570px;
    top: 258px;
    width: 310px;
    height: 20px;

}
video#video{
    display: block;
    position: relative;
    top: 100px;
    left: 85px;
    width: 440px;
   
}

